a, h1, h2, h3 { color: #2554C7; }
p, h3 { text-align: justify; }
p div { display: inline; }
span.br { display: block; margin-top: 1em; }
div.verse::before { 
	content: attr(vs); 
	vertical-align: baseline; 
	position: relative; 
	top: -0.4em; 
	font-size: 75%; 
	color: #2554C7; 
	font-weight: bold; 
	margin-right: 0.2em; 
}
div.verse[vs="1"]::before {
	content: attr(ch);
	font-size: 3em;
	float: left;
	color: #2554C7;
	font-weight: bold;
	margin-top: 0.3em;
	margin-right: 0.2em;
}
span.br+div.verse::before {
	margin-left: 2em;
}
h2 { text-align: center; }
h3 { width: 0; overflow: hidden; height: 0; }

.toc-globale h1 { text-align: center; font-size: 2em; }
.toc-globale section h1 { font-size: 1.5em; text-transform: uppercase;}
.toc-globale section section h1 { font-size: 1.0em; }
.toc-globale { display: table;}
.toc-globale a { text-decoration: none; } 
.toc-globale a:hover { text-decoration: underline; } 
.toc { margin-right: 20%; margin-left: 20%; text-align: center; font-family: sans-serif; }
.toc a { display: inline-block; width: 3em; text-align: center; text-decoration: none; } 
.toc a:hover { text-decoration: none; } 
.toc a:hover::before { content: "["; } 
.toc a:hover::after { content: "]"; } 
.toc-globale section section section h1 { display: table-cell; margin: 0em 0em 0.5em 0em; float:left; width:3.5em; font-size: 1.5em; font-weight: bold; text-transform:none; }
.toc-globale section section section::after { margin-top:1em; margin-bottom:1em; clear: both; content:" "; display: block; border-bottom:1px solid #2554C7; }
