h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	margin: 0px;
	display: inline;
}
.book .titlepage .subtitle {
	display: block;
	margin: 1em 0;
}
section div.titlepage {
	margin: 0.83em 0px;
	width: 100%;
}
section div.titlepage div {
	display: block;
	width: 100%;
}
section div.titlepage div h1 {
	display: block;
	width: 100%;
	text-align: center;
	color: #663300;
}
section div.titlepage div h3 {
	display: block;
	width: 100%;
	text-align: center;
	color: #663300;
}
section div.mediaobject object {
	width: 50%;
	text-align: center;
}
.smallcaps {
	font-variant: small-caps;
}
span.chapter {
	font-variant: small-caps;
}
body {
	text-align: justify;
}
.surname {
	font-variant: small-caps;
}
.numpara { font-family: Verdana; font-size: smaller; font-weight: bold; }
.author{color:crimson;} 
.citetitle{color:#008000;font-style:italic;} 
.edition{color:#32cd32;} 
.ss{color:#0000cd;} 
.ssc{color:#6495ed;font-variant:small-caps;font-weight:bolder;}
.ssv{color:#00bfff;font-size:80%;font-weight:bolder;}
span.verse {color:#0000cd;font-style:italic;}
span.verse-number span.ch {color:#6495ed;font-weight:bolder;}
span.verse-number span.vr {color:#00bfff;font-size:80%;font-weight:bolder;}
